<html>
  <head>
    <title>C'est plus incredible</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Blog Django Girls <3</a></h1>
    </div>

    <div>
        <p> publicado: 23.11.2018, 12:14</p>
        <h2><a href=""> Meu primeirissimo post</a></h2>
        <p>Eu Adoro <strong>Pokemon</strong> ahhh, que foi lançado em 1996 e é uma das franquias mais rentpaveis do mundo </p>
    </div>

    <div>
        <p> Publicado 23.11.2018, 12:14</p>
        <h2><a href="">Meu segundo post</a></h2>
        <p>20 anos de <strong>Zelda Ocarina of time</strong>, no dia 21 de novembro de 2018</p>
    </div>
  </body>
</html>
